<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <title>A One replicas</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/gridwork-done.css') }}">
    </head>
    <body>
        <h1> <div class='top'><a class='toptext' href="{{ url_for('index') }}"> A-ONE REPLICAS </a> </div> </h1>
        <form class='inline-block-center' action="{{ url_for('results') }}" method="GET">
            <input id='tb1' type="text" name="keywords">
            <input id='but1' type="submit" value="Search">
            <br><br>
        </form>
        <div class="outermost_div">
        {%for product in product_desc%}
            <div class="boxes" id="A"> <a href="items?id={{ product_id }}"\> {{ product[1] }} </a> </div>
            <div class="boxes" id="B"> {{ product[5] }} </div>
            <div class="boxes" id="C"> NZD {{ product[8] }}</div>
        {%endfor%}
        </div>
            <form action="{{ url_for('review') }}" method="GET">
                <h2> Leave this product a review </h2>
                <div>
                <input type='text' id='tb2' name='person'> <br>
                <textarea id="txt" name="txt">
                </textarea>
                <input type='hidden' name='prod' value='{{ product_id }}'>
                <input id='but2' type='submit' value='submit'>
                </div>
            </form>
        {%for review in product_reviews%}
            <b>{{ review[0] | safe }}</b> <i> says </i>{{ review[1] | safe }}<br><hr>
        {%endfor%}
    </body>
</html>