<html>
    <head>
        <meta charset='UTF-8'>
        <title>A One replicas</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/gridwork-done.css') }}">
    </head>
    <body>
        <h1> <div class='top'><a  class='toptext' href="{{ url_for('index') }}">A-ONE REPLICAS </a> </div></h1>
        <form class='inline-block-center' action="{{ url_for('results') }}" method="GET">
            <input id='tb1' type="text" name="keywords">
            <input id='but1' type="submit" value="Search">
            <br><br>
        </form>
        <div class="outermost_div">
        </div>
    </body>
</html>